<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Projet Python Médiathèque</title>
</head>
<body>
    <h3>Emprunter un jeu de plateau</h3>

    <h4>{{jeuplateau_emprunte.id}}-{{jeuplateau_emprunte.jeu_name}}</h4>
    <form action="{% url 'emprunt_jeuplateau' jeuplateau_emprunte.id%}" method="POST">
        {% csrf_token %}
        <label for="emprunteur">Nom de l'emprunteur</label>
        <select name="emprunteur" id="emprunteur" required>
            {% for emprunteur in datas_emprunteur %}
            <option value="{{emprunteur.id}}">{{emprunteur.id}} - {{emprunteur.first_name}} {{emprunteur.last_name}} </option>
            {% endfor %}
        </select>
        <input type="date" name="date_emprunt">
        <input type="submit" value="Valider" class="btn">
    </form>

</body>
</html>